{% extends "base.html" %}

{% block title %}物品列表{% endblock %}

{% block content %}
<script src="../../../static/js/jquery-2.1.0.min.js"></script>
<script>
    $(document).ready(function(){
    $(".text_overflow").each(function()
    { var maxwidth=115;
        if($(this).text().length>maxwidth){
            $(this).text($(this).text().substring(0,maxwidth));
            $(this).html($(this).html()+'...');
    }
    });
});
</script>
<div class="container">
    <div class="row">
    <div class="col-md-10" id="taglist">
        {% include "tag_list.html" %}
    </div>
    </div>
    <div id="project">
        {% for item in item_list %}
        <div class="col-md-6 row well item_list half_page">
            <div class="col-md-4"><a href="{% url 'item_detail' item.id %}">
            {% if item.if_has_image %}
            <img src="{{ item.image.url }}" alt="..." class="img-rounded item_image">
            {% else %}
            <img src="/static/image/wutu.jpg" alt="..." class="img-rounded item_image">
            {% endif %}
            </a></div>
            <div class="col-md-5">
                <h4><a href="{% url 'item_detail' item.id %}">{{ item.title }}</a><small>{{personName}}</small></h4>
                <p class="text_overflow">
                {{ item.description }}
                </p>
            </div>
            <div class="col-md-3">
                <h3>{{ item.price }}元</h3>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
<div class="container">
{% include "pagination.html" %}
</div>
{% endblock %}