<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">卖东西</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li><button type="button" class="btn btn-default navbar-btn">个人中心</button></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-search search-only">
                    <i class="search-icon glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control search-query" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">
                </div>
            </form>
        </nav>
    </div>
</header>