<header class="navbar navbar-fixed-top bs-docs-nav " role="banner">

    <nav class="navbar navbar-inverse navbar-custom" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">X-seller</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/account/register/"><button type="button" class="btn btn-primary navbar-btn">注册</button></a></li>
                        <li><a href="/account/login/"><button type="button" class="btn btn-success navbar-btn">登录</button></a></li>
                    </ul>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-search search-only">
                        <i class="search-icon glyphicon glyphicon-search"></i>
                        <input type="search" class="form-control search-query" placeholder="search" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</header>