{% extends "base.html" %}

{% block title %}学长卖东西{% endblock %}

{% block content %}
<div class="container">
    <div id="tags">
        <div class="btn-group">
            <button type="button" class="btn btn-default">课本</button>
            <button type="button" class="btn btn-default">课外书</button>
            <button type="button" class="btn btn-default">数码产品</button>
            <button type="button" class="btn btn-default">数码外设</button>
            <button type="button" class="btn btn-default">家居用品</button>
            <button type="button" class="btn btn-default">服装鞋子</button>
            <button type="button" class="btn btn-default">体育用品</button>
            <button type="button" class="btn btn-default">其他</button>
        </div>
    </div>
    <div id="project">
        {% for item in item_list %}
        <div class="col-md-6 row well">
            <div class="col-md-4"><img src="{{pictureSrc}}" alt="..." class="img-rounded"></div>
            <div>
                <h4>{{projectName}}<small>{{personName}}</small></h4>
                <p>{{projectInfo}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}