{% extends "base.html" %}

{% block title %}站内信{% endblock %}

{% block content%}
<div class="container">
    <div class="page-header">
        <h1>个人中心</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>交易记录</h3>
            <div class="btn-group-vertical">
                {% for selledItem in selled_list %}
                <button type="button" class="btn btn-default">{{project}}<span  class="label">&nbsp;&nbsp;</span></button>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            <h3>个人信息</h3>
            <p>昵称：{name}</p>
            <p>电话号码：{phoneNumber}</p>
            <p>地点：{place}</p>
        </div>
    </div>
</div>
{% endblock %}