body { padding-top: 70px; }

.inTheMiddle{
    padding-top: 50%;
}

/*navbar*/
header li{
    margin-left: 5px;
}
.navbar-nav>li>a {
    padding:0;
}


/*footer*/
.footer {
    padding: 20px 0;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    line-height: 10px;
    background-color: #434a54;
    color: #bdc1c5;
    font-size: 15px;
}

/*index*/
.project img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


/*register*/
#register{
    padding-top: 60px;
}

#register .hint_error{
    color: red;
}

#register span{
    width:80px;
}
#register input:not(#checkbox){
    width: 360px;
}
#register select{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*item view*/
#item_image{
    width: 100%;
}


/*person*/
#userinfos{
    font-size: 17px;
}
#userinfos td{
}