body { padding-top: 70px; }

.inTheMiddle{
    padding-top: 50%;
}

.half_page{
    width: 49%;
    margin-right: 20px;
}

p{ word-wrap:break-word; word-break:normal; }

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.bs-callout-danger h4 {
  color: #b94a48;
}
.bs-callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.bs-callout-warning h4 {
  color: #8a6d3b;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.bs-callout-info h4 {
  color: #34789a;
}



/*navbar*/
.navbar{
    width: 100%;
}

header li{
    margin-left: 5px;
}
.navbar-nav>li>a:not(.nav_list) {
    padding:0;
}


/*footer*/
.footer {
    padding: 10px 0;
    width: 100%;
    left: 0;
    line-height: 10px;
    background-color: #434a54;
    color: #bdc1c5;
    font-size: 15px;
    position: fixed; !important;
    bottom: 0;
    z-index: 5;
    border: 1px solid #999999;
    _position:absolute;
    _top:expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);
}

/*index*/

#index img{
    height: 550px;
    clear: both;
    display: block;
    margin:auto;
}

/*list*/
.item_list img{
    height: 100%;
    width: 100%;
    padding: 0;
}
.item_list {
    height: 150px;
    padding: 10px;
}

.item_list p{
    width: 100%;
}
#taglist{
    padding-bottom: 10px;
}


/*register*/
#register{
    padding-top: 60px;
}

#register .hint_error{
    color: red;
}

#register span{
    width:80px;
}
#register input:not(#checkbox){
    width: 360px;
}
#register select{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*item view*/
#item_image{
    width: 100%;
    height: 100%;
    padding-bottom: auto;
    padding-top: auto;
}


/*person*/
#userinfos{
    font-size: 17px;
}

/*item_update*/
#project img{
    width: 100%;
    height: 100%;
}

/*tag*/
#tags{
    margin-bottom: 10px;
}