{% extends "base.html" %}

{% block title %}{{item.title}}{% endblock %}

{% block content%}
    <div class="container">
        {% include "tag_list.html" %}
        <div class="row well">
            <div class="row">
                <div class="col-md-9">
                    <h3>{{item.title}}</h3>
                </div>
                <div class="col-md-3">
                    <h5>发布者： {{item.owner.username}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"><img src="
                {% if item.if_has_image %}{{item.image.url}}
                {% else %}/static/image/wutu.jpg{% endif %}
                " class="img-rounded" id="item_image"></div>

                <div class="col-md-5">
                    <p>{{item.description}}</p>
                    <span>{{item.published_time}}</span>
                    <p>{{item.tag}}</p>
                </div>
                <div class="col-md-4">
                    <h3>剩余数量: {{item.left_number}}</h3>
                    <h3>人民币：{{item.price}}元</h3>
                </div>
            </div>
        </div>
        <div class="row well">

            {% if user.username != item.owner.username %}
                {% if item.if_available %}
                <form class="form-inline" role="form" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="info">留言</label>
                        <input type="text" class="form-control" id="info" placeholder="留言" name="message">
                    </div>
                    <button type="submit" class="btn btn-default">留言</button>
                </form>
                {% else %}
                <form class="form-inline" role="form">
                    <p>都被预订了，下次早来呦！</p>
                </form>
                {% endif %}
            {% else %}
            <a href="{% url 'item_update' item.id %}">设置</a>
            {% endif %}

        </div>
    </div>
{% endblock %}