{% extends "base.html" %}

{% block title %}站内信{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>站内信</h1>
    </div>

    <div id="u2i">
        <h3>收件箱</h3>
            {% for message in message_list %}

                    <div class="bs-callout bs-callout-danger">
                        关于{{message.item_id.title}}：{{message.from_id.username}}说
                        <b>
                            {{message.content}}
                        </b>
                        <div class="input-group form-search">
                            <input type="text" class="form-control search-query" placeholder="输入你的回信">
                            <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" data-type="last">回复</button>
                            </span>
                        </div>
                    </div>
            {% endfor %}
    </div>
    <hr>
    <div id="i2y">
        <h3>发件箱</h3>
            {% for massage in massage_list %}
                    <div class="bs-callout bs-callout-info">
                        我对{{person.id}}说：
                        <p>
                            {{content}}
                        </p>
                    </div>
            {% endfor %}
    </div>
</div>
{% endblock %}