<div class="col-md-8">
        <h3>站内信</h3>
    <div id="u2i">
        <table class="table">
            {% for message in message_list %}
            <tr>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{message.content}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <textarea>输入你的回信</textarea>
                                <button type="submit">回复</button>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <hr>
    <div id="i2y">
        <table class="table">
            {% for massage in massage_list %}
            <tr>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">
                            {{content}}
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>