{% extends "base.html" %}

{% block title %}个人中心{% endblock %}

{% block content%}
<style>
    #msgButton{
        margin-top: 20px;
        margin-bottom: -20px;
    }
</style>
<div class="container">
    <div class="page-header row">
        <div class="col-md-10"><h1>个人中心</h1></div>
        <div class="col-md-2"><a id="msgButton" class="btn btn-info btn-lg" href="/account/messages">站内信</a></div>
    </div>
    <div class="row panel">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="#info" data-toggle="tab">个人信息</a></li>
            <li><a href="#logs" data-toggle="tab">已发布物品</a></li>
            <li><a href="#favorite" data-toggle="tab">收藏</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="info">
                <div class="col-md-8">
                    <h3>个人信息</h3>
                    <table id="userinfos" class="table">
                        <tbody>
                        <tr><td>用户名：</td><td>{{ user_info.name }}</td></tr>
                        <tr><td>E-mail：</td><td>{{ user_info.email }}</td></tr>
                        <tr><td>QQ：</td><td>{{ user_info.qq_number }}</td></tr>
                        <tr><td>电话号码：</td><td>{{ user_info.phone_number }}</td></tr>
                        </tbody>
                    </table>
                    <!--<p>学校：{school}</p> -->
                    {% if itself %}
                    <button type="button" class="btn btn-default">修改信息</button>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane" id="logs">
                <div class="col-md-8">
                    <h3>已发布物品</h3>
                    <div class="list-group">
                        {% for item in item_list %}
                        <a href="/item/view/{{ item.id }}/" class="list-group-item">
                            {{ item.title }}
                            {% if item.status %}<span  class="label">&nbsp;&nbsp;</span>
                            {% endif %}
                        </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="tab-pane" id="favorite">
                <div class="list-group">
                    {% for favorite_item in favorite_item_list %}
                    <a href="/item/view/{{ favorite_item.id }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{favorite_item.name}}</h4>
                    </a>
                    {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}