{% extends "base.html" %}

{% block title %}个人中心{% endblock %}

{% block content%}
<div class="container">
    <div class="page-header">
        <h1>个人中心</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>交易记录</h3>
            <div class="btn-group-vertical">
                {% for item in item_list %}
                <button type="button" class="btn btn-default"><a href="/item/view/{{ item.id }}/">{{ item.title }}</a><span  class="label">&nbsp;&nbsp;</span></button>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-8">
            <h3>个人信息</h3>
            <table id="userinfos" class="table">
                <tbody>
                <tr><td>用户名：</td><td>{{ user_info.name }}</td></tr>
                <tr><td>E-mail：</td><td>{{ user_info.email }}</td></tr>
                <tr><td>QQ：</td><td>{{ user_info.qq_number }}</td></tr>
                <tr><td>电话号码：</td><td>{{ user_info.phone_number }}</td></tr>
                </tbody>
            </table>
            <!--<p>学校：{school}</p> -->
            {% if itself %}
                <button type="button" class="btn btn-default">修改信息</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}